:root {
    --main-bg-color: #0B4C5F;  
  }

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7em;
}

.delete{
    display: inline;
}

#navbar{
    background-color:var(--main-bg-color);
    color: aliceblue;
}

.extras button{
    background-color:var(--main-bg-color);
   border-radius: 2px;
    width: 9em;
    height: 2.3em;
    
}

button a{
    color: #fff;
}

.profilePic{
    display: flex;
    background-color: #3B6F7E;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 21em;
    margin-top: 6em;
}

.fullname{
    padding-top: 10px;
    padding-left: 170px;
    font-size: 25px;
    font-weight: bold;
}

span{
    font-weight: bold;
    float: right;
    margin-right: 15px;
}


#commentDate{
    float: right;
    padding-right: 15px;
}

em{
    font-size: 15px;
}

#commentEditDelete{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    padding: 7px 14px;

    
}

.container.comment{
    width: 700px;
    word-wrap: break-word;
}


